---
interface Props {
  title: string;
  description?: string;
}
const { title, description = "Comparte todos tus enlaces en un solo lugar. Ideal para negocios peruanos." } = Astro.props;
---
<!DOCTYPE html>
<html lang="es">
<head>
    <script defer src="https://umami.luminari.agency/script.js" data-website-id="4204405c-da81-4791-a7ed-09433c9639fd"></script>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{title}</title>
  <meta name="description" content={description} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
</head>
<body>
  <slot />
</body>
</html>

<style is:global>
  @import "../styles/global.css";
</style>
